{{!-- This page will contain a form --}}
<h1>{{ title }}</h1>
<form method="post" action="/orders/add">
    {{!-- Input field that matches the data model --}}
    <fieldset>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="Name" id="name" required>
    </fieldset>
    <fieldset id="items-container">
        <label for="items">Items:</label>
        <input type="text" name="items" id="items" placeholder="Items">
    </fieldset>
    <fieldset>
        <label for="totalPrice">Total Price:</label>
        <input type="number" name="totalPrice" id="totalPrice" placeholder="Total Price">
    </fieldset>

    {{!-- Add a button --}}
    <button class="btn btn-primary">Save</button>
</form>

