:root {
  --text: #CDCB18;
  --text2: #3A0306;
  --spice: #635C52;
  --spice2: #2F062E;
  --background: #3D3D55;
  --extra: #5E5C4B;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: var(--background)
}
p {
  color: var(--text);
}
.nav-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
header h1 {
  color: var(--text);
  font-size: 3rem;
}
.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
  margin-left: 0;
  font-family: 'Courier New', Courier, monospace;
  border-left: #0e0e0e 2px solid;
}
.navbar a {
  color: var(--text);
  text-decoration: none;
  padding: 1rem;
  font-size: 2rem;
}
.navbar a:hover {
  color: var(--spice2);
}
.navbar a:active {
  color: var(--text);
}
.navbar ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  display: inline;
  padding: 1rem;
}
a {
  color: var(--text2);
  text-decoration: none;
}
h2 {
  color: rgba(240, 192, 35, 1);
}
#gummygab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.proj-showcase {
  border: 2px solid #0e0e0e;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  margin-top: 0;
}
.proj-showcase a {
  color: var(--text);
  transition: ease-in-out 0.2s;
}
.proj-showcase a:hover {
  color: var(--spice2);
  transition: ease-in-out 0.2s;
}
.about-me {
  border-left: 2px solid #0e0e0e;
  border-right: 2px solid #0e0e0e;
  padding: 1rem;
  margin: 1rem;
}
.artwork {
  border: 2px solid #0e0e0e;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.artwork img {
  width: 100%;
  height: auto;
}
.artwork .frame {
  width: 33%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}
.fun-stuff {
  padding: 1rem;
  margin: 1rem;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fun-stuff h2 {
  color: var(--spice2);
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
  font-size: 1rem;
}