{{> nav}}
<div class="container">
    <h1>About Myles Biss</h1>
    <p>I am a Computer Science student working towards getting my degree. I specialize in Game Development and Web Design.</p>
    <p>Some of my skills include: Java, C#, GDScript, Javascript, Angular,HTML, Pug, CSS, Express, Node, Python, Server Management, Team Leading, SQL, MSSQL, RethinkDB, and Git</p>
    <p>I have a big passion for Game Development and am actively working towards creating games. I focus mainly on 2D games.</p>
    <p>I also have a small freelance side hussle where I work with clients to create websites. Currently I work with people in my local area, but I plan to expand</p>
    <p>I have experience with Application Development as for a semester I have worked for an amazing company called ArcX. I learned a lot there and plan on continuing in the industry.</p>
    <p></p>
</div>
{{> footer}}