{{> nav}}
<div class="container contact">
    <div>
        <h1>Need Something?</h1>
        <h2>Email Me: <p>mylesbiss@outlook.com</p></h2>
    </div>
    <div>
        <h1>Maybe a quick Question?</h1>
        <h2>LinkedIn: <a href="https://www.linkedin.com/in/myles-biss-28650024b/">Myles Biss</a></h2>
    </div>
    <div>
        <h1>Or just want to see what I'm up to?</h1>
        <h2>Github: <a href="https://github.com/Mybiss55">Mybiss55</a></h2>
    </div>
</div>
{{> footer}}