{{> nav}}
<body>
    <div class="container">
        <h2>Projects</h2>
        <div class="proj-showcase-proj">
            <div class="proj-container">
                <div class="proj-card">
                    <h3>Doctors Recruitment Website</h3>
                    <div class="proj-card-body">
                        <p>A Website to advertise Physicans Recruiment Alliston and Area</p>
                        <div>
                            <p class="tag">HTML</p>
                            <p class="tag">CSS</p>
                            <p class="tag">Javascript</p>
                            <p class="tag">Client Management</p>
                            <p class="tag">Cloudflare</p>
                        </div>
                    </div>
                </div>
                <div class="proj-card">
                    <h3>Tea Time</h3>
                    <div class="proj-card-body">
                        <p>A small game about collecting tea ingredients to make some Tea</p>
                        <div>
                            <p class="tag">Game Dev</p>
                            <p class="tag">Godot</p>
                            <p class="tag">GDScript</p>
                            <p class="tag">C#</p>
                            <p class="tag">Art</p>
                            <p class="tag">Music</p>
                        </div>
                    </div>
                </div>
                <div class="proj-card">
                    <h3>Gadget Game DB</h3>
                    <div class="proj-card-body">
                        <p>An E-Commerce ASP application for selling retro games</p>
                        <div>
                            <p class="tag">ASP.NET</p>
                            <p class="tag">C#</p>
                            <p class="tag">MSSQL</p>
                            <p class="tag">Entity Framework</p>
                            <p class="tag">HTML</p>
                            <p class="tag">CSS</p>
                            <p class="tag">Javascript</p>
                            <p class="tag">Stripe</p>
                            <p class="tag">Google Auth</p>
                        </div>
                    </div>
                </div>
                <div class="proj-card">
                    <h3>Forwards!</h3>
                    <div class="proj-card-body">
                        <p>Bullet Hell game with rotoscoped graphics</p>
                        <div>
                            <p class="tag">Game Dev</p>
                            <p class="tag">Godot</p>
                            <p class="tag">GDScript</p>
                            <p class="tag">Art</p>
                            <p class="tag">Music</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="proj-container">
                <div class="proj-card">
                    <h3>ArcX Application Developer</h3>
                    <div class="proj-card-body">
                        <p>Worked as an Application Developer creating industy webapps</p>
                        <div>
                            <p class="tag">Angular</p>
                            <p class="tag">Sellenium</p>
                            <p class="tag">MongoDB</p>
                            <p class="tag">Pug</p>
                            <p class="tag">NodeJS</p>
                            <p class="tag">NOSQL</p>
                            <p class="tag">Javascript</p>
                            <p class="tag">MVC</p>
                            <p class="tag">CRUD</p>
                            <p class="tag">Linux</p>
                            <p class="tag">CSS</p>
                            <p class="tag">QA</p>
                        </div>
                    </div>
                </div>
                <div class="proj-card">
                    <h3>Faith Autosplitter</h3>
                    <div class="proj-card-body">
                        <p>Auto splitter for the game Faith</p>
                        <div>
                            <p class="tag">ASL</p>
                            <p class="tag">Auto Splitter</p>
                            <p class="tag">Game Dev</p>
                            <p class="tag">Speedrun</p>
                            <p class="tag">Open Source</p>
                        </div>
                    </div>
                </div>
                <div class="proj-card">
                    <h3>StarScourge Website</h3>
                    <div class="proj-card-body">
                        <p>A pretend website for a new video game</p>
                        <div>
                            <p class="tag">HTML</p>
                            <p class="tag">CSS</p>
                            <p class="tag">SVG</p>
                        </div>
                    </div>
                </div>
                <div class="proj-card">
                    <h3>Project Crimson</h3>
                    <div class="proj-card-body">
                        <p>Project Leader: Game Dev project for a top down rougelike</p>
                        <div>
                            <p class="tag">Game Dev</p>
                            <p class="tag">Unity</p>
                            <p class="tag">C#</p>
                            <p class="tag">Art</p>
                            <p class="tag">Music</p>
                            <p class="tag">Project Lead</p>
                            <p class="tag">Management</p>
                            <p class="tag">GDD</p>
                            <p class="tag">Notion</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
{{> footer}}